.questions button{
    margin-top: 10px;
    margin-bottom: 70px;
}

.question{
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #8CC754;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.questions{
    display: flex;
    justify-content: center;
    line-height: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #8CC754;
    font-size: 15px;
    grid-column-gap: 40px;
}