.question{
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 50px;
    background: linear-gradient(249.51deg, #8CC754 0%, rgba(140, 199, 84, 0.2) 93.38%);
}