.question {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(249.51deg, #8CC754 0%, rgba(140, 199, 84, 0.2) 93.38%);
    margin-bottom: 0;
}

.answerOptions {
    display: flex;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    padding: 40px;
    border: none;
    background-color: #FBFBFB;
}

.answerOptions li {
    padding: 5px;
}

.radioCustomButton {
    background-color: #FBFBFB;
    border-color: #444;
    font-size: 30px;
    color: #444;
    text-align: start;
    padding-left: 50px;
    width: 100%;
}

.radioCustomButton:hover {
    background-color: #8CC754;
    color: #FBFBFB;
}

.resultQuiz {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #8CC754;
    margin-bottom: 100px;
    padding-bottom: 10px;
}

@media only screen and (min-device-width : 381px) and (max-device-width : 480px) {
    .question {
        display: flex;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 40px;
        padding-top: 200px;
        padding-bottom: 200px;
        background: linear-gradient(249.51deg, #8CC754 0%, rgba(140, 199, 84, 0.2) 93.38%);
        margin-bottom: 0;
    }
    
    .answerOptions {
        display: flex;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        padding: 20px;
        border: none;
        background-color: #FBFBFB;
    }
    
    .answerOptions li {
        padding: 5px;
    }
    
    .radioCustomButton {
        background-color: #FBFBFB;
        border-color: #444;
        width: 335px;
        width: 0 auto;
        height: 50px;
        font-size: 18px;
        color: #444;
        text-align: start;
        padding-left: 25px;
    }
    
    .resultQuiz {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        color: #fff;
        background-color: #8CC754;
        margin-bottom: 100px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width : 321px) {
    .question {
        display: flex;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 35px;
        padding-top: 150px;
        padding-bottom: 150px;
        background: linear-gradient(249.51deg, #8CC754 0%, rgba(140, 199, 84, 0.2) 93.38%);
        margin-bottom: 0;
    }
    
    .answerOptions {
        display: flex;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        padding: 20px;
        border: none;
        background-color: #FBFBFB;
    }
    
    .answerOptions li {
        padding: 5px;
    }
    
    .radioCustomButton {
        background-color: #FBFBFB;
        border-color: #444;
        width: 0 auto;
        height: 50px;
        font-size: 18px;
        color: #444;
        text-align: start;
        padding-left: 25px;
    }
    
    .resultQuiz {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        color: #fff;
        background-color: #8CC754;
        margin-bottom: 100px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width : 320px) {
    .question {
        display: flex;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 30px;
        padding-top: 120px;
        padding-bottom: 120px;
        background: linear-gradient(249.51deg, #8CC754 0%, rgba(140, 199, 84, 0.2) 93.38%);
        margin-bottom: 0;
    }
    
    .answerOptions {
        display: flex;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        padding: 20px;
        border: none;
        background-color: #FBFBFB;
    }
    
    .answerOptions li {
        padding: 5px;
    }
    
    .radioCustomButton {
        background-color: #FBFBFB;
        border-color: #444;
        width: 0 auto;
        height: 50px;
        font-size: 15px;
        color: #444;
        text-align: start;
        padding-left: 25px;
    }
    
    .resultQuiz {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        color: #fff;
        background-color: #8CC754;
        margin-bottom: 100px;
        padding-top: 6px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .question {
        display: flex;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 48px;
        padding-top: 180px;
        padding-bottom: 180px;
        background: linear-gradient(249.51deg, #8CC754 0%, rgba(140, 199, 84, 0.2) 93.38%);
        margin-bottom: 0;
    }
    
    .answerOptions {
        display: flex;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        padding: 20px;
        border: none;
        background-color: #FBFBFB;
    }
    
    .answerOptions li {
        padding: 5px;
    }
    
    .radioCustomButton {
        background-color: #FBFBFB;
        border-color: #444;
        width: 0 auto;
        height: 50px;
        font-size: 15px;
        color: #444;
        text-align: start;
        padding-left: 25px;
    }
    
    .resultQuiz {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        color: #fff;
        background-color: #8CC754;
        margin-bottom: 100px;
        padding-top: 6px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .question {
        display: flex;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 48px;
        padding-top: 180px;
        padding-bottom: 180px;
        background: linear-gradient(249.51deg, #8CC754 0%, rgba(140, 199, 84, 0.2) 93.38%);
        margin-bottom: 0;
    }
    
    .answerOptions {
        display: flex;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        padding: 20px;
        border: none;
        background-color: #FBFBFB;
    }
    
    .answerOptions li {
        padding: 5px;
    }
    
    .radioCustomButton {
        background-color: #FBFBFB;
        border-color: #444;
        width: 0 auto;
        height: 50px;
        font-size: 15px;
        color: #444;
        text-align: start;
        padding-left: 25px;
    }
    
    .resultQuiz {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        color: #fff;
        background-color: #8CC754;
        margin-bottom: 100px;
        padding-top: 6px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}

@media only screen and (min-width : 1025px) {
    .question {
        display: flex;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 52px;
        padding-top: 250px;
        padding-bottom: 250px;
        background: linear-gradient(249.51deg, #8CC754 0%, rgba(140, 199, 84, 0.2) 93.38%);
        margin-bottom: 0;
    }
    
    .answerOptions {
        display: flex;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        padding: 20px;
        border: none;
        background-color: #FBFBFB;
    }
    
    .answerOptions li {
        padding: 5px;
    }
    
    .radioCustomButton {
        background-color: #FBFBFB;
        border-color: #444;
        width: 0 auto;
        height: 70px;
        font-size: 18px;
        color: #444;
        text-align: start;
        padding-left: 30px;
    }
    
    .resultQuiz {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        color: #fff;
        background-color: #8CC754;
        margin-bottom: 100px;
        padding-top: 6px;
    }
}

@media only screen and (min-width : 1824px) {
    .question {
        display: flex;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 60px;
        padding-top: 350px;
        padding-bottom: 350px;
        background: linear-gradient(249.51deg, #8CC754 0%, rgba(140, 199, 84, 0.2) 93.38%);
        margin-bottom: 0;
    }
    
    .answerOptions {
        display: flex;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        padding: 20px;
        border: none;
        background-color: #FBFBFB;
    }
    
    .answerOptions li {
        padding: 5px;
    }
    
    .radioCustomButton {
        background-color: #FBFBFB;
        border-color: #444;
        width: 0 auto;
        height: 80px;
        font-size: 18px;
        color: #444;
        text-align: start;
        padding-left: 30px;
    }
    
    .resultQuiz {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        color: #fff;
        background-color: #8CC754;
        margin-bottom: 100px;
        padding-top: 6px;
    }
}