.question {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(249.51deg, #8CC754 0%, rgba(140, 199, 84, 0.2) 93.38%);
    margin-bottom: 0;
}

.answerOptions {
    display: flex;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    padding: 40px;
    border: none;
    background-color: #FBFBFB;
}

.answerOptions li {
    padding: 5px;
}

.radioCustomButton {
    background-color: #FBFBFB;
    border-color: #444;
    width: 1595px;
    height: 110px;
    font-size: 30px;
    color: #444;
    text-align: start;
    padding-left: 50px;
}

.radioCustomButton:hover {
    background-color: #8CC754;
    color: #FBFBFB;
}

.resultQuiz {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #8CC754;
    margin-bottom: 100px;
    padding-bottom: 10px;
}