section{
    font-family: "Montserrat";
}

.whoIsThisCourseFor h1{
    font-size: 45px;
    padding-left: 6%;
    color: #8CC754;
}

.description h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DB538C;
    line-height: 40px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 5%;
    color: #BD67D5;
}