header{
    background-color: #8CC754;
}
.content{
    justify-content: space-between;
    padding: 30px 65px;
    color: white;
    font-family: "Montserrat";
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.contact{
    display: flex;
    align-items: center;
}
.icons{
    display: flex;
}
.info{
    display:flex;
}
.title{
    font-size: 12px;
    margin-left: 8px;
}