header{
    background-color: #8CC754;
}
a{
    color:white;
}
.content{
    justify-content: space-between;
    padding: 30px 65px;
    color: white;
    font-family: "Montserrat";
    display: flex;
}
.container{
    display: flex;
    align-items: center;
}
.icons{
    margin-left: 31px;
    display: flex;
}
.icon{
    margin-left: 13px;
    margin-right: 13px;
}
.title{
    font-size: 13px;
    margin-left: 8px;
}
.nameTitle{
    max-width: 326px;
}
.infoTitle{
    max-width: 269px;
    margin-right: 80px;
}
@media only screen and (max-width : 1230px) {
    .contact
    {
        display: flex;
        flex-direction: column;
        font-size:13px;
    }
    .icons{
        margin-top: 5px;
        margin-left: 0;
    }
}
@media only screen and (max-width : 880px) {
    .title{
        margin-right: 0;
        max-width: 150px;
        font-size:12px;
    }
}
@media only screen and (max-width : 715px) {
    .contact
    {
       display: none;
    }
}
@media only screen and (max-width : 570px) {
    .nameTitle{
        display: none;
    }
    .title{
        margin-right: 10px;
        font-size: 10px;
    }
    .glasses{
        width: 36px;
        height: 13px;
    }
}