footer{
    background-color: #8CC754;
    position: absolute;
    left: 0;
    min-width: 100%;
    color: white;
    font-family: "Montserrat";
}

a{
    text-decoration: none;
}

.item a:hover{
    color: #DB538C;
}

.btn button:hover{
    background: #DB538C;
}

input{
    outline: none;
}

.info{
    padding: 3%;
    margin-left: 20px;
}

.other{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-bottom: 3%;
    padding-left: 3%;
    line-height: 45px;
}

.ccs{
    padding-top: 10px;
    padding-bottom: 4%;
    padding-left: 3%;
    margin-left: 20px;
}

.questions{
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: -30px;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: -400px;
}

.name{
    padding: 1%;
    border-radius: 10px;
    border: none;
    color: #444;
    width: 526px;
    height: 10px;
    margin-bottom: 20px;
}

.phone{
    padding: 1%;
    border-radius: 10px;
    border: none;
    color: #444;
    width: 526px;
    height: 10px;
    margin-bottom: 20px;
}

.email{
    padding: 1%;
    border-radius: 10px;
    border: none;
    color: #444;
    width: 526px;
    height: 10px;
    margin-bottom: 20px;
}

.message{
    padding-left: 1%;
    border-radius: 10px;
    border: none;
    color: #444;
    width: 540px;
    height: 150px;
    margin-bottom: 20px;
}

.send{
    padding: 1%;
    padding-bottom: 1.9%;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: #F6B028;
    color: white;
    width: 557px;
    height: 10px;
    margin-bottom: 20px;
}

.map{
    margin-right: 21px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.otherInfo{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
    margin-top: -50px;
}

.item{
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	flex: 1;
	height: 48%;
    margin-left: 800px;
}

.item + .item{
	margin-left: -180px;
}

.material{
    margin-top: -180px;
    line-height: 45px;
    margin-left: 75px;
    margin-bottom: 30px;
}

.icons{
    float: left;
}

.icon{
    margin-top: 10px;
    margin-right: 70px;
    float: left;
    margin-left: -50px;
}

.googleMap{
    border-radius: 10px;
}

/* Адаптив */

@media only screen and (min-device-width: 120px) and (max-device-width: 350px) {
    footer{
        max-width: 350px;
    }

    .inputs{
        font-size: 10px;
    }
    
    .info{
        padding: 1%;
        margin-left: 10px;
    }
    
    .other{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding-bottom: 1%;
        padding-left: 1%;
        line-height: 25px;
    }
    
    .ccs{
        padding-top: 10px;
        padding-bottom: 4%;
        padding-left: 1%;
        margin-left: 10px;
        font-size: 5px;
    }
    
    .questions{
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        margin-bottom: 20px;
        font-size: 6px;
    }
    
    .inputs{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    
    .name{
        padding: 1.5%;
        border-radius: 10px;
        width: 100px;
        height: 3px;
        margin-bottom: 8px;
        font-size: 6px;
    }
    
    .phone{
        padding: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 100px;
        height: 3px;
        margin-bottom: 8px;
        font-size: 6px;
    }
    
    .email{
        padding: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 100px;
        height: 3px;
        margin-bottom: 8px;
        font-size: 6px;
    }
    
    .message{
        padding-left: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 103px;
        height: 50px;
        margin-bottom: 8px;
        font-size: 6px;
    }

    .vkIcon{
        width: 9px;
    }

    .instaIcon{
        width: 8px;
        height: 6px;
        margin-left: -3px;
    }

    .youtubeIcon{
        width: 9px;
    }

    .fbIcon{
        width: 9px;
    }
    
    .send{
        text-align: center;
        border-radius: 10px;
        border: none;
        background-color: #F6B028;
        color: white;
        width: 111px;
        height: 17px;
        margin-bottom: 50px;
        margin-top: -5px;
        font-size: 5px;
    }
    
    .map{
        margin-right: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: -219px;
    }
    
    .otherInfo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: -50px;
    }
    
    .item{
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        flex: 1;
        height: 48%;
        margin-left: 200px;
        font-size: 5px;
        margin-top: 5px;
        line-height: 12px;
    }
    
    .item + .item{
        margin-left: -140px;
    }
    
    .material{
        margin-top: -50px;
        line-height: 12px;
        margin-left: 15px;
        margin-bottom: 15px;
        font-size: 5px;
    }
    
    .icons{
        float: left;
        margin-right: 14px;
    }
    
    .icon{
        margin-top: -5px;
        float: left;
        margin-right: 0px;
        margin-left: 6px;
        background-size: 5px;
    }
    
    .googleMap{
        width: 170px;
        height: 110px;
        margin-right: -5px;
    }
}

@media only screen and (min-device-width: 351px) {
    footer{
        max-width: 400px;
    }

    .inputs{
        font-size: 10px;
    }
    
    .info{
        padding: 1%;
        margin-left: 10px;
    }
    
    .other{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding-bottom: 1%;
        padding-left: 1%;
        line-height: 25px;
    }
    
    .ccs{
        padding-top: 10px;
        padding-bottom: 4%;
        padding-left: 1%;
        margin-left: 10px;
        font-size: 5px;
    }
    
    .questions{
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        margin-bottom: 20px;
        font-size: 6px;
    }
    
    .inputs{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    
    .name{
        padding: 1.5%;
        border-radius: 10px;
        width: 100px;
        height: 3px;
        margin-bottom: 8px;
        font-size: 6px;
    }
    
    .phone{
        padding: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 100px;
        height: 3px;
        margin-bottom: 8px;
        font-size: 6px;
    }
    
    .email{
        padding: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 100px;
        height: 3px;
        margin-bottom: 8px;
        font-size: 6px;
    }
    
    .message{
        padding-left: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 103px;
        height: 50px;
        margin-bottom: 8px;
        font-size: 6px;
    }

    .vkIcon{
        width: 9px;
    }

    .instaIcon{
        width: 8px;
        height: 6px;
        margin-left: -3px;
    }

    .youtubeIcon{
        width: 9px;
    }

    .fbIcon{
        width: 9px;
    }
    
    .send{
        text-align: center;
        border-radius: 10px;
        border: none;
        background-color: #F6B028;
        color: white;
        width: 111px;
        height: 17px;
        margin-bottom: 50px;
        margin-top: -5px;
        font-size: 5px;
    }
    
    .map{
        margin-right: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: -219px;
    }
    
    .otherInfo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: -50px;
    }
    
    .item{
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        flex: 1;
        height: 48%;
        margin-left: 200px;
        font-size: 5px;
        margin-top: 5px;
        line-height: 12px;
    }
    
    .item + .item{
        margin-left: -140px;
    }
    
    .material{
        margin-top: -50px;
        line-height: 12px;
        margin-left: 15px;
        margin-bottom: 15px;
        font-size: 5px;
    }
    
    .icons{
        float: left;
        margin-right: 14px;
    }
    
    .icon{
        margin-top: -5px;
        float: left;
        margin-right: 0px;
        margin-left: 6px;
        background-size: 5px;
    }
    
    .googleMap{
        width: 200px;
        height: 120px;
        margin-right: -5px;
    }
}

@media only screen and (min-device-width: 901px) and (max-device-width: 1024px) {
    footer{
        max-width: 1024px;
    }

    .inputs{
        font-size: 10px;
    }
    
    .info{
        padding: 1%;
        margin-left: 10px;
    }
    
    .other{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding-bottom: 1%;
        padding-left: 1%;
        line-height: 25px;
    }
    
    .ccs{
        padding-top: 10px;
        padding-bottom: 3%;
        padding-left: 1%;
        margin-left: 10px;
        font-size: 9px;
    }
    
    .questions{
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        margin-bottom: -20px;
        font-size: 12px;
    }
    
    .inputs{
        display: flex;
        flex-direction: column;
        margin-top: -100px;
    }
    
    .name{
        padding: 1.5%;
        border-radius: 10px;
        width: 230px;
        height: 7px;
        margin-bottom: 15px;
        font-size: 9px;
    }
    
    .phone{
        padding: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 230px;
        height: 7px;
        margin-bottom: 15px;
        font-size: 9px;
    }
    
    .email{
        padding: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 230px;
        height: 7px;
        margin-bottom: 15px;
        font-size: 9px;
    }
    
    .message{
        padding-left: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 238px;
        height: 80px;
        margin-bottom: 15px;
        font-size: 9px;
    }

    .vkIcon{
        width: 25px;
    }

    .instaIcon{
        width: 19px;
        height: 19px;
        margin-left: -5px;
    }

    .youtubeIcon{
        width: 25px;
    }

    .fbIcon{
        width: 25px;
    }
    
    .send{
        text-align: center;
        border-radius: 10px;
        border: none;
        background-color: #F6B028;
        color: white;
        width: 253px;
        height: 25px;
        margin-bottom: 50px;
        margin-top: -5px;
        font-size: 9px;
    }
    
    .map{
        margin-right: 21px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: -234px;
    }
    
    .otherInfo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: -50px;
    }
    
    .item{
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        flex: 1;
        height: 48%;
        margin-left: 530px;
        font-size: 9px;
        margin-top: 5px;
    }
    
    .item + .item{
        margin-left: -450px;
    }
    
    .material{
        margin-top: -80px;
        line-height: 25px;
        margin-left: 20px;
        margin-bottom: 25px;
        font-size: 9px;
    }
    
    .icons{
        float: left;
        margin-right: 22px;
    }
    
    .icon{
        margin-top: 5px;
        float: left;
        margin-right: 0px;
        margin-left: 10px;
        background-size: 5px;
    }

    .googleMap{
        width: 580px;
        height: 290px;
        margin-right: -5px;
        margin-bottom: -13px;
    }
}

@media only screen and (min-device-width: 850px) and (max-device-width: 900px) {
    footer{
        max-width: 900px;
    }

    .inputs{
        font-size: 10px;
    }
    
    .info{
        padding: 1%;
        margin-left: 10px;
    }
    
    .other{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding-bottom: 1%;
        padding-left: 1%;
        line-height: 25px;
    }
    
    .ccs{
        padding-top: 10px;
        padding-bottom: 3%;
        padding-left: 1%;
        margin-left: 10px;
        font-size: 9px;
    }
    
    .questions{
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        margin-bottom: -20px;
        font-size: 12px;
    }
    
    .inputs{
        display: flex;
        flex-direction: column;
        margin-top: -100px;
    }
    
    .name{
        padding: 1.5%;
        border-radius: 10px;
        width: 230px;
        height: 7px;
        margin-bottom: 15px;
        font-size: 9px;
    }
    
    .phone{
        padding: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 230px;
        height: 7px;
        margin-bottom: 15px;
        font-size: 9px;
    }
    
    .email{
        padding: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 230px;
        height: 7px;
        margin-bottom: 15px;
        font-size: 9px;
    }
    
    .message{
        padding-left: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 238px;
        height: 80px;
        margin-bottom: 15px;
        font-size: 9px;
    }

    .vkIcon{
        width: 25px;
    }

    .instaIcon{
        width: 19px;
        height: 19px;
        margin-left: -5px;
    }

    .youtubeIcon{
        width: 25px;
    }

    .fbIcon{
        width: 25px;
    }
    
    .send{
        text-align: center;
        border-radius: 10px;
        border: none;
        background-color: #F6B028;
        color: white;
        width: 253px;
        height: 25px;
        margin-bottom: 50px;
        margin-top: -5px;
        font-size: 9px;
    }
    
    .map{
        margin-right: 21px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: -234px;
    }
    
    .otherInfo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: -50px;
    }
    
    .item{
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        flex: 1;
        height: 48%;
        margin-left: 480px;
        font-size: 9px;
        margin-top: 5px;
    }
    
    .item + .item{
        margin-left: -390px;
    }
    
    .material{
        margin-top: -80px;
        line-height: 25px;
        margin-left: 20px;
        margin-bottom: 25px;
        font-size: 9px;
    }
    
    .icons{
        float: left;
        margin-right: 22px;
    }
    
    .icon{
        margin-top: 5px;
        float: left;
        margin-right: 0px;
        margin-left: 10px;
        background-size: 5px;
    }

    .googleMap{
        width: 530px;
        height: 290px;
        margin-right: -5px;
        margin-bottom: -9px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 849px) {
    footer{
        max-width: 849px;
    }

    .inputs{
        font-size: 10px;
    }
    
    .info{
        padding: 1%;
        margin-left: 10px;
    }
    
    .other{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding-bottom: 1%;
        padding-left: 1%;
        line-height: 25px;
    }
    
    .ccs{
        padding-top: 10px;
        padding-bottom: 3%;
        padding-left: 1%;
        margin-left: 10px;
        font-size: 9px;
    }
    
    .questions{
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        margin-bottom: -20px;
        font-size: 12px;
    }
    
    .inputs{
        display: flex;
        flex-direction: column;
        margin-top: -100px;
    }
    
    .name{
        padding: 1.5%;
        border-radius: 10px;
        width: 230px;
        height: 7px;
        margin-bottom: 15px;
        font-size: 9px;
    }
    
    .phone{
        padding: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 230px;
        height: 7px;
        margin-bottom: 15px;
        font-size: 9px;
    }
    
    .email{
        padding: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 230px;
        height: 7px;
        margin-bottom: 15px;
        font-size: 9px;
    }
    
    .message{
        padding-left: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 238px;
        height: 80px;
        margin-bottom: 15px;
        font-size: 9px;
    }

    .vkIcon{
        width: 25px;
    }

    .instaIcon{
        width: 19px;
        height: 19px;
        margin-left: -5px;
    }

    .youtubeIcon{
        width: 25px;
    }

    .fbIcon{
        width: 25px;
    }
    
    .send{
        text-align: center;
        border-radius: 10px;
        border: none;
        background-color: #F6B028;
        color: white;
        width: 253px;
        height: 25px;
        margin-bottom: 50px;
        margin-top: -5px;
        font-size: 9px;
    }
    
    .map{
        margin-right: 21px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: -234px;
    }
    
    .otherInfo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: -50px;
    }
    
    .item{
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        flex: 1;
        height: 48%;
        margin-left: 480px;
        font-size: 9px;
        margin-top: 5px;
    }
    
    .item + .item{
        margin-left: -390px;
    }
    
    .material{
        margin-top: -80px;
        line-height: 25px;
        margin-left: 20px;
        margin-bottom: 25px;
        font-size: 9px;
    }
    
    .icons{
        float: left;
        margin-right: 22px;
    }
    
    .icon{
        margin-top: 5px;
        float: left;
        margin-right: 0px;
        margin-left: 10px;
        background-size: 5px;
    }
    
    .googleMap{
        width: 450px;
        height: 290px;
        margin-right: -5px;
    }
}

@media only screen and (min-width : 1024px) {
    footer{
        max-width: 1024px;
    }

    .inputs{
        font-size: 10px;
    }
    
    .info{
        padding: 1%;
        margin-left: 10px;
    }
    
    .other{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding-bottom: 1%;
        padding-left: 1%;
        line-height: 25px;
    }
    
    .ccs{
        padding-top: 10px;
        padding-bottom: 3%;
        padding-left: 1%;
        margin-left: 10px;
        font-size: 11px;
    }
    
    .questions{
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        margin-bottom: -20px;
        font-size: 17px;
    }
    
    .inputs{
        display: flex;
        flex-direction: column;
        margin-top: -100px;
    }
    
    .name{
        padding: 1.5%;
        border-radius: 10px;
        width: 300px;
        height: 7px;
        margin-bottom: 15px;
        font-size: 11px;
    }
    
    .phone{
        padding: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 300px;
        height: 7px;
        margin-bottom: 15px;
        font-size: 11px;
    }
    
    .email{
        padding: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 300px;
        height: 7px;
        margin-bottom: 15px;
        font-size: 11px;
    }
    
    .message{
        padding-left: 1.5%;
        margin-top: -5px;
        border-radius: 10px;
        border: none;
        color: #444;
        width: 311px;
        height: 80px;
        margin-bottom: 15px;
        font-size: 11px;
    }

    .vkIcon{
        width: 25px;
    }

    .instaIcon{
        width: 19px;
        height: 19px;
        margin-left: -5px;
    }

    .youtubeIcon{
        width: 25px;
    }

    .fbIcon{
        width: 25px;
    }
    
    .send{
        text-align: center;
        border-radius: 10px;
        border: none;
        background-color: #F6B028;
        color: white;
        width: 329px;
        height: 25px;
        margin-bottom: 50px;
        margin-top: -5px;
        font-size: 11px;
    }
    
    .map{
        margin-right: 21px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: -234px;
    }
    
    .otherInfo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: -50px;
    }
    
    .item{
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        flex: 1;
        height: 48%;
        margin-left: 630px;
        font-size: 11px;
        margin-top: 5px;
    }
    
    .item + .item{
        margin-left: -450px;
    }
    
    .material{
        margin-top: -80px;
        line-height: 25px;
        margin-left: 20px;
        margin-bottom: 25px;
        font-size: 11px;
    }
    
    .icons{
        float: left;
        margin-right: 24px;
    }
    
    .icon{
        margin-top: 5px;
        float: left;
        margin-right: 0px;
        margin-left: 10px;
        background-size: 5px;
    }

    .googleMap{
        width: 600px;
        height: 350px;
        margin-right: -5px;
        margin-bottom: -25px;
    }
}

@media only screen and (min-width : 1824px) {

}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}