.wrapper{
    /*background: url(/src/components/image/banner.png) no-repeat !important;*/
    background: #8CC754;
    background-size: 100%;
}

.buttonBanner{
    text-decoration: none;
    color:#FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    border: 3px solid #FFFFFF;
    padding: 15px 70px;
    justify-content: center;
    transition: .2s;
    background-color: #8CC754;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.content{
    margin-left: 65px;
    display: inline-flex;
    flex-direction: column;
}

.buttonBanner:hover{
    background-color: #FFFFFF;
    color:#8CC754;
    transition: .2s;
    cursor: pointer;
}

.title2{
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: 58.5px;
    align-self: center;
}

.title1{
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
}

.title{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding-top: 180px;
    color: #FFFFFF;
}

.btn{
    margin-top: 21px;
    align-self: center;
    padding-bottom: 230px;
}

@media only screen and (max-width : 950px) {
    .title1{
        font-size: 18px;
    }

    .title2{
        font-size: 24px;
    }

    .buttonBanner{
        font-size: 10px;
        padding: 5px 40px;
    }
    
    .btn{
        margin-top: 0;
    }
}